@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

main {
   max-width: 100% ;
   min-height: 100vh;
   background-color: #2596be;
   display: flex;
   justify-content: center;
   align-items: center;
}
.heading{
    display: inline-block;
    font-family: 'ClimateCrisis', sans-serif;
    display: flex;
    justify-content: center;
    padding: 15px;
}
.box{
   max-width:600px ;
   width:100%;
   height: 500px;
    background-color: #cce7e8
    ;
    padding: 15px;
    border-radius: 10px;    
}
#item{
    padding: 10px;
width: 100%;
font-size: 20px ;
outline: 0px;
border: 0px;
border-radius: 5px;
font-weight: 800px;
display: block;

}

#item:hover{
    box-shadow: 0px 0px  5px rgb(255, 127, 127);

}
#to-do-box{
    margin-top: 15px;
    list-style: none;
}

#to-do-box li{
    position: relative;
    padding: 10px;
    background-color:#25a5be;
    border-radius: 5px;
    letter-spacing: 0.5px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-family: 'ClimateCrisis', sans-serif;
    margin-top: 10px;
    padding-right: 39px ;
    user-select: none;
    text-align: justify ;
}

#to-do-box li:hover{
    background-color: rgb(255, 127, 127);
    /* text-decoration: line-through;     */
}
#to-do-box li i{
    position: absolute;
    right:10px ;
    top: 10px ;
}



    


.done{
    text-decoration: line-through;
    color: black;
    background-color: rgb(173, 14, 14) !important;
}